tls_active: true
ip: 0.0.0.0
host:
  www.furi.local:
    ssl_certificate: /etc/ssl/furi-cert.pem
    ssl_key: /etc/ssl/furi-key.pem
    not_found_file_path: /etc/jequi/html/index.html
    path:
      /assets/:
        static_files_path: /etc/jequi/html/assets/
      /analytics/:
        static_files_path: /etc/jequi/html/index.html
      /:
        static_files_path: /etc/jequi/html/

  analytics.furi.local:
    ssl_certificate: /etc/ssl/furi-cert.pem
    ssl_key: /etc/ssl/furi-key.pem
    proxy_address: ["http://furi_analytics:3003"]

  furi.local:
    ssl_certificate: /etc/ssl/furi-cert.pem
    ssl_key: /etc/ssl/furi-key.pem
    proxy_address: ["http://furi_api_1:3000", "http://furi_api_2:3000"]
