certs/*.pem
certs/*.crt
certs/*.key
certs/*.csr
certs/*.cnf

## Backend
furi/debug/
furi/target/
**/*.rs.bk
*.pdb
**/config.toml
**/config.prod.toml
**/.env
furi/geoip/*.mmdb
furi/geoip/*.gz

furi_analytics/debug/
furi_analytics/target/

## Frontend
# Logs
furi_web/logs
furi_web/*.log
furi_web/npm-debug.log*
furi_web/yarn-debug.log*
furi_web/yarn-error.log*
furi_web/pnpm-debug.log*
furi_web/lerna-debug.log*
furi_web/node_modules
furi_web/dist
furi_web/dist-ssr
furi_web/*.local

# Editor directories and files
furi_web/.vscode/*
furi_web/.idea
furi_web/.DS_Store
furi_web/*.suo
furi_web/*.ntvs*
furi_web/*.njsproj
furi_web/*.sln
furi_web/*.sw?