certs/*.pem
certs/*.crt
certs/*.key
certs/*.csr
certs/*.cnf

## Backend
furi/debug/
furi/target/
**/*.rs.bk
*.pdb
**/config.toml
**/config.prod.toml
**/.env
furi/geoip/*.mmdb

analytics/debug/
analytics/target/

## Frontend
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

