version: '3'

services:
  redis:
    image: redis:latest
    container_name: furi_redis
    ports:
      - "127.0.0.1:6379:6379"
    networks:
      - api

  postgres:
    image: postgres
    container_name: furi_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "127.0.0.1:5432:5432"
    networks:
      - api

  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: furi_timescaledb
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${TIMESCALE_USER} -d ${TIMESCALE_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
    environment:
      POSTGRES_DB: ${TIMESCALE_DB}
      POSTGRES_USER: ${TIMESCALE_USER}
      POSTGRES_PASSWORD: ${TIMESCALE_PASSWORD}
    ports:
      - "127.0.0.1:5433:5432"
    networks:
      - api
      - analytics

  furi-web:
    build:
      ./furi_web/
    container_name: furi_frontend
    volumes:
      - static:/static/

    command: "rsync -a --del /app/ /static/"

  furi-1:
    build:
      ./furi/
    container_name: furi_api_1
    restart: always
    networks:
      - api
    ports:
      - "127.0.0.1:3001:3000"
    depends_on:
      redis:
        condition: service_started
      postgres:
        condition: service_started
      timescaledb:
        condition: service_healthy

  furi-2:
    build:
      ./furi/
    container_name: furi_api_2
    restart: always
    networks:
      - api
    ports:
      - "127.0.0.1:3002:3000"
    depends_on:
      redis:
        condition: service_started
      postgres:
        condition: service_started
      timescaledb:
        condition: service_healthy

  furi-analytics:
    build: ./furi_analytics/
    container_name: furi_analytics
    restart: always
    networks:
      - api
      - analytics
    ports:
      - "127.0.0.1:3003:3003"
    depends_on:
      timescaledb:
        condition: service_healthy

  jequi:
    image: ghcr.io/termack/jequi:v0.0.3-2
    container_name: furi_jequi
    hostname: jequi
    restart: always
    ports:
      - "127.0.0.1:8443:7878"
      - "127.0.0.1:443:7878"
    networks:
      - api
      - analytics

    volumes:
      - ./web-server/config.yaml:/etc/jequi/conf.yaml:ro
      - ./certs/furi-cert.pem:/etc/ssl/furi-cert.pem:ro
      - ./certs/furi-key.pem:/etc/ssl/furi-key.pem:ro
      - static:/etc/jequi/html/:ro

    depends_on:
      - furi-1
      - furi-2
      - furi-analytics

networks:
  api:
    driver: bridge
  analytics:
    driver: bridge

volumes:
  static:
